{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
	{% if user.is_authenticated %}
	<div class="page-header">
		<center>
			<h2><span class="label label-primary">Bienvenido: {{ user.username|capfirst }} </span></h2>
		</center>
	</div>
		
	{% else %}

	<form method="POST">
	{% csrf_token %}
	  <div class="form-group">
	    <label for="UserName: ">Nombre Usuario:</label> 
	    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario"> 
	  </div>
	  <div class="form-group">
	    <label for="Password">Password: </label> 
	    <input type="password" class="form-control" id="password" name="password" placeholder="Password"> 
	  </div>
	 
	  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button> 
	  <button type="reset" class="btn btn-warning btn-lg btn-block">Cancelar</button> 
	  
	</form>

	 {% endif %}
	 

{% endblock %}