{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} ITT {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
			<form class="search">
				<div class="input-group">
					<input type="text" name="name" class="form-control" placeholder="Buscar materias...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">Buscar</button>
					</span>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<ul class="list-group">
				{% for subject in object_list %}
					<a href="subjects/{{ subject.id }}" class="list-group-item">{{ subject.name }}</a>
				{% empty %}
					<p class="lead text-center">No se encontraron registros</p>
				{% endfor %}
			</ul>
		</div>
	</div>

	<script>
		// $(document).ready(function() {
		// 	$('form.search').submit(function(e) {
		// 		var query = this.query.value;
		// 		if ( query != '' ) {
		// 			window.location = 'search/' + query.replace(' ', '+');
		// 		}
		// 	});
		// });
	</script>
{% endblock %}